<div class="topic">
    <div class="topicHeader">
        <h2 class="passageTitle">洪欣风波后首现身,张丹峰出轨经纪人，张丹峰出轨经纪人</h2>
    </div>
    <div class="readingNum"><span>乌龙校园&nbsp;&nbsp;阅读10000+</span></div>
    <div class="passage">
        洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身首现身洪欣风波后首现身首现身洪欣风波后首现身首现身洪欣风波后首现身...
    </div>
    <div class="topicImg">
        <img src="/public/images/topic/topicImg.jpg" style="width: 100%;height: 170px">
        <img src="/public/images/topic/topicImg.jpg" style="width: 100%;height: 170px">
    </div>
    <div class="passage">
        洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身首现身洪欣风波后首现身首现身洪欣风波后首现身首现身洪欣风波后首现身...
    </div>
    <div class="topicImg">
        <img src="/public/images/topic/topicImg.jpg" style="width: 100%;height: 170px">
    </div>
    <div class="passage">
        洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身首现身洪欣风波后首现身首现身洪欣风波后首现身首现身洪欣风波后首现身。
    </div>
    <div class="topicImg">
        <img src="/public/images/topic/topicImg.jpg" style="width: 100%;height: 170px">
    </div>
    <div class="passage">
        洪欣风波后首现身洪欣风波后首现身洪欣风波后首现身洪欣风波后首现洪欣风波后首现身。
    </div>
    <div class="topicBanner">
        【注：本文由【扒娱乐趣事】作者独家原创作品，欢迎转发文章以及订阅关注本账号，禁止抄袭、复制。侵权必究
    </div>
    <div>
        <div class="topicPerson"><a href="#">#洪欣</a></div>
    </div>
    <div class="advertisement">
        <div class="adLeft">
            <img src="/public/images/topic/adImg.jpg">
        </div>
        <div class="adRight">
            <h3>唯品会</h3>
            <p class="sell">品牌特卖</p>
            <p class="mall">妖精的口袋专场</p>
            <p class="discount">五折起 &nbsp;&nbsp;到手价：￥139</p>
        </div>
    </div>
</div>