<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fdb82d">
    <title>我的</title>
    <link rel="stylesheet" href="/public/jquery-weui-build/lib/weui.min.css">
    <link rel="stylesheet" href="/public/jquery-weui-build/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/public/css/suyou.css">
    <link rel="stylesheet" href="/public/css/address.css">
</head>

<body ontouchstart>
    <div class="weui-flex item-top">
        <div class="weui-flex__item">
            <div class="content back">
                <a href="javascript:history.back();"><img src="/public/icon/back.png" alt="" /></a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <p>地址管理</p>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <p></p>
            </div>
        </div>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:">
            <div class="weui-cell__bd">
                <div>
                    <span class="user_name">蒋万艺</span><span class="user_tel">136****4545</span>
                    <div class="tag default">默认</div><div class="tag common">家</div>
                </div>
                <div>
                    <span class="add_main">重庆市永川区城区</span><span class="add_sub">红河大道319号法师打发斯蒂芬胜多负少发斯蒂芬</span>
                </div>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:">
            <div class="weui-cell__bd">
                <div>
                    <span class="user_name">蒋万艺</span><span class="user_tel">136****4545</span>
                    <div class="tag common">学校</div>
                </div>
                <div>
                    <span class="add_main">重庆市永川区城区</span><span class="add_sub">红河大道319号法师打发斯蒂芬胜多负少发斯蒂芬</span>
                </div>
            </div>
            <div class="weui-cell__ft"></div>

        </a>
        <a class="weui-cell weui-cell_access" href="javascript:">
            <div class="weui-cell__bd">
                <div>
                    <span class="user_name">蒋万艺</span><span class="user_tel">136****4545</span>
                </div>
                <div>
                    <span class="add_main">重庆市永川区城区</span><span class="add_sub">红河大道319号法师打发斯蒂芬胜多负少发斯蒂芬</span>
                </div>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
    <div class="add_address weui-flex weui-footer_fixed-bottom">
        <div class="weui-flex__item">
            <div style="text-align: center">
                <a href="javascript:" class="weui-btn">添加地址</a>
            </div>
        </div>
    </div>
    <script src="/public/jquery-weui-build/lib/jquery-2.1.4.min.js"></script>
    <script src="/public/jquery-weui-build/lib/fastclick.js"></script>
    <script src="/public/jquery-weui-build/js/jquery-weui.min.js"></script>
</body>

</html>