<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#fdb82d">
    <title>选择头像</title>
    <link rel="stylesheet" href="/public/jquery-weui-build/lib/weui.min.css">
    <link rel="stylesheet" href="/public/jquery-weui-build/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/public/css/suyou.css">
    <link rel="stylesheet" href="/public/css/avatar.css">
</head>

<body ontouchstart>
    <div class="weui-flex info-top">
        <div class="weui-flex__item">
            <div class="content back">
                <a href="javascript:history.back();"><img src="/public/icon/back.png" alt="" /></a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <p>选择头像</p>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="content">
                <a href="javascript:">提交修改</a>
            </div>
        </div>
    </div>
    <script src="/public/jquery-weui-build/lib/jquery-2.1.4.min.js"></script>
    <script src="/public/jquery-weui-build/lib/fastclick.js"></script>
    <script src="/public/jquery-weui-build/js/jquery-weui.min.js"></script>
</body>

</html>