<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>社区</title>
    <link rel="stylesheet" href="/public/jquery-weui-build/lib/weui.min.css">
    <link rel="stylesheet" href="/public/jquery-weui-build/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/public/css/suyou.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/community.css">
    <style>

    </style>
</head>

<body ontouchstart>
    <div class="weui-flex comment-top">
        <div class="weui-flex__item">
            <div class="contents back">
                <a href="javascript:history.back();"><img src="/public/icon/back.png" alt="" /></a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="contents">
                <p>详情</p>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="contents more">
                <a href="javascript:"><img src="/public/icon/more.png" alt="" /></a>
            </div>
        </div>
    </div>
    <div class="weui-flex topicBox">
        <div class="topic">
            <div class="topicHeader">
                <h2 class="passageTitle">海口攻略美食足迹,好吃到欲罢不能,99％的小仙女都把持不住</h2>
            </div>
            <div class="readingNum"><span>乌龙校园&nbsp;&nbsp;阅读10000+</span></div>
            <div class="passage">
                泰龙城最老の甜品店，一杯杨汁金露告诉你，什么叫做12年老店无法逾越！6折吃鱼！足足20斤重的一道菜，要用400°C的石头烧着吃！
            </div>
            <div class="topicImg">
                <img src="/public/images/topic/passage1.jpg" style="width: 100%;height: 190px">
                <img src="/public/images/topic/passageImg.jpg" style="width: 100%;height: 170px">
            </div>
            <div class="passage">
                在海口，它可能是琼味最浓的餐厅！骨灰级吃货专属的东就鸭，一不小心吃出了年纪！这家上过央视的烧烤店，终于插旗海口了，爆爆爆，炸炸炸，diao炸了！！红唇换啤酒，就是这么lào！
            </div>
            <div class="topicImg">
                <img src="/public/images/topic/passage2.jpg" style="width: 100%;height: 170px">
            </div>
            <div class="passage">
                日月广场这家蛙天天排队到腿软！！12种独创口味，7.7折再送你礼物！七夕就选这了！日月广场惊现粉红闪电！全场粉嫩饮品买一送一，只有仙女才有资格喝网红果汁！Ta在海口湾才开了7天，我就光顾了9次！
            </div>
            <div class="topicImg">
                <img src="/public/images/topic/passage4.jpg" style="width: 100%;height: 170px">
            </div>
            <div class="passage">
                30万造个烤箱烤全羊！再建个啤酒厂酿酒喝！给你打4.8折！老板真是慷慨又会享受生活！甜品控必收藏的一家店！有着海口少有的Dutch
                Baby，搭配软绵的舒芙蕾一口融化你的心！就藏在海甸岛这家酒楼里,最低的价格+最鲜的海鲜+最高级的环境！新晋网红餐厅，天台花园美翻了！
            </div>
            <div class="topicBanner">
                【注：本文由【扒娱乐趣事】作者独家原创作品，欢迎转发文章以及订阅关注本账号，禁止抄袭、复制。侵权必究
            </div>
            <div>
                <div class="topicPerson"><a href="#">#洪欣</a></div>
            </div>
            <div class="advertisement">
                <img src="/public/images/topic/adver.jpg">
            </div>
        </div>
    </div>




    <script src="/public/jquery-weui-build/lib/jquery-2.1.4.min.js"></script>
    <script src="/public/jquery-weui-build/lib/fastclick.js"></script>
    <script src="/public/jquery-weui-build/js/jquery-weui.min.js"></script>
</body>

</html>