* {
    font-family: "Arial";
}

body {
    background-color: #f6f6f6;
}

.info-top {
    background-color: #FFFFFF;
}

.content {
    margin: 0.5em;
    text-align: center;
    height: 2.3em;
    line-height: 2.3em;
}

.back {
    text-align: left
}

.back a img {
    width: 2em;
    height: 2em;
}

.upload {
    height: 119px;
}

.upload input {
    height: 119px;
}

.info {
    margin-top: 0;
}

.info .weui-cell__bd {
    text-align: right;
}

.avatar {
    width: 80px;
    height: 80px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.input {
    text-align: right
}

.gender select {
    direction: rtl;
    height: auto;
    line-height: 1em;
}

.gender select option {
    direction: ltr;
}


