<div class="content-padded">
    <h1 class="suyou-title">登录页</h1>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <div class="weui-label">邮箱</div>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="email" placeholder="请输入邮箱" id="email" name="email">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">密码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="请输入密码" id="password" name="password">
            </div>
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:;" id="loginBtn"><i id="loginLoading"></i>登&nbsp;录</a>
        <a class="weui-btn weui-btn_default" href="/register">注&nbsp;册</a>
    </div>
</div>